---
import UserAvatar from "../smallComponents/userAvatar.astro";

export interface User {
    userName: string;
    city: string;
    state: string;
    playStyle?: string;
    ittfRank?: number;
    about?: string;
}
export interface Props {
    userData: User;
}

const { userData } = Astro.props;
---

<div class="card w-80 bg-base-300 lg:w-96 p-3 m-3" id="userProfileCard">
    <div class="grid grid-cols-3 gap-2 p-1">
        <div class="align-center text-center col-span-1">
            <UserAvatar name={userData.userName} avatar="" />
        </div>
        <div class="text-sm pl-3 lg:text-base col-span-2">
            <h2 class="text-lg font-bold">{userData.userName}</h2>
            <p>{userData.city}, {userData.state}</p>
            <p>Playstyle: {userData.playStyle}</p>
            <p>ITTF Rank: {userData.ittfRank}</p>
        </div>
    </div>
    <div class="p-2">
        <p class="text-lg font-bold">About:</p>
        <p>{userData.about}</p>
    </div>
</div>
